
.head-top {
    height: 40px;
    background-color: #fcd10f;
    line-height: 40px;
    color: white;
}

.head-top a {
    color: white;
    padding: 0 10px;
    font-weight: 600;
    font-size: 14px;
}

.head-top a:hover {
    text-decoration: underline;
    color: #FF550D;
}

.head-top p {
    width: 300px;
    margin-left: 10%;
    font-size: 18px;
    /*transition: transform 3s;*/
    /*transform: translateX(600px);*/
    /*animation: JYJ12 6s linear infinite;*/
}
.head-top p span{
    display: block;
    animation: JYJ12 6s linear infinite;
}

@keyframes JYJ12 {
    50%{
        color: #FF530D;
        transform: translateX(300px);
    }
    100%{
        color: white;
        transform: translatex(0px);
    }
}

.head-time {
    font-size: 14px;
    float: right;
    font-weight: 600;
    padding-right: 40px;
}

.head-right {
    margin-right: 60px;
    float: right;
}

.head-content {
    height: 54px;
    padding: 26px 150px;
}

.head-content img {
    height: 54px;
}

.nav {
    float: right;
    line-height: 60px;
    /*margin-right: 10%;*/
    /*text-align: center;*/

}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
    height: 0;
}

.nav > li {
    float: left;
    text-align: center;
    /*padding-right: 60px;*/
    width: 120px;
    position: relative;
    /*border: red solid 1px;*/
    z-index: 9999;
}

/*.nav li:hover{*/
/*    color: white;*/
/*    background-color: #FFD400;*/
/*}*/

.nav li > ul {
    display: none;
    line-height: 30px;
}

.nav li > ul > li {
    background-color: white;
    width: 190px;
    border: #e6e8ea solid 1px;
}

.nav a {
    /*padding: 10px 20px;*/
    display: block;
    width: 100%;
    height: 100%;
    color: #314B60;
}

.two_bar {
    position: absolute;
    left: 0;
    top: 60px;
    border-bottom: #fcd10f solid 4px;
}

.three-bar {
    position: relative;
}

.three-bar > ul {
    position: absolute;
    left: 190px;
    top: 0;
    border-bottom: #fcd10f solid 4px;
}
.three-bar>a> span{
    display: block;
    position: absolute;
    /*width: 20px;*/
    /*height: 40px;*/
    /*background-color: black;*/
    right: 10px;
    top: 0;
}

.footer {
    height: 200px;
    padding: 25px 150px;
    background-color: #5B605F;
    overflow: hidden;
}

.foot-content {
    
}
.foot-img{
    float: left;
}
.footer img {
    width: 100px;
   
    padding-right: 200px;
}

.footer table {
    float: left;
    font-size: 13px;
    font-weight: 200;
    /* padding-left: 80px; */
    /* width: 800px; */
    /* margin: 0 auto; */
    /* text-align: center; */
    /* border: 1px solid red; */
}

.footer table tr{
    float: left;
    margin-left: 30px;
}
.footer table tr td:first-child {
    color: #fcd10f;
    padding: 10px 10px 0 0;
}

.footer table tr td:last-child {
    color: #F6F6FE;
}

.copy-rights p {
    color: #fcd10f;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding-top: 60px;
}




